<div class="container">
  <section class="section columns">
    <div class="column">
      <a
        id="new-tool"
        class="button is-outlined is-info"
        data-mfp-src="#new-popup"
      >
        <span class="icon">
          <i class="fas fa-plus"></i>
        </span>
        <span>Yeni Egzersiz Ekle</span>
      </a>
      <a
        class="button is-outlined is-primary"
        href="javascript:exportPdf()"
      >
        <span>PDF olarak Kaydet</span>
      </a>
      <br>
      <br>
      <div class="field has-addons">
        <div class="control">
          <input
            id="search"
            class="input"
            type="search"
            placeholder="İsime göre filtreleyin"
          >
        </div>
        <div class="control">
          <a
            class="button is-info"
            href="javascript:search()"
          >
            Filtrele
          </a>
        </div>
      </div>
      <table class="table is-hoverable is-bordered is-fullwidth">
        <thead>
          <tr>
            <th>Ad</th>
            <th>Açıklama</th>
            <th>Set Sayısı</th>
            <th>Aletler</th>
          </tr>
        </thead>
        <tbody>
          {{#each exercises}}
          <tr
            class="pointy"
            onclick="javascript:deleteE({{json}})"
          >
            <td>{{name}}</td>
            <td>{{description}}</td>
            <td>{{set_size}}</td>
            {{#each tools}}
            <td>{{name}}</td>
            {{/each}}
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>
</div>
<div
  id="new-popup"
  class="popup mfp-hide"
>
  <div class="field">
    <label class="label">Ad</label>
    <div class="control">
      <input
        class="input"
        type="text"
        id="new-name"
        placeholder="Ad"
      />
    </div>
  </div>
  <div class="field">
    <label class="label">Açıklama</label>
    <div class="control">
      <input
        class="input"
        type="text"
        id="new-description"
        placeholder="Açıklama"
      />
    </div>
  </div>
  <div class="field">
    <label class="label">Set Sayısı</label>
    <div class="control">
      <input
        class="input"
        type="text"
        id="new-set_size"
        placeholder="Set Sayısı"
      />
    </div>
  </div>
  <div class="select">
    <select id="new-tool">
      {{#each tools}}
      <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>
  <br>
  <br>
  <div class="field">
    <div class="control">
      <a
        class="button is-outlined is-primary"
        href="javascript:saveNew()"
      >
        <span>Kaydet</span>
      </a>
    </div>
  </div>
</div>

<script>
  $('#new-tool').magnificPopup({ type: 'inline', midClick: true });

  function exportPdf() {
    html2pdf(
      $('.table').get(0),
      {
        margin: 4,
        filename: 'users.pdf',
        html2canvas: { dpi: 192 },
        jsPDF: { orientation: 'landscape' }
      }
    );
  }

  function saveNew() {
    (new ldLoader({ root: ".full" })).on();

    var name = $('#new-name').val();
    var description = $('#new-description').val();
    var set_size = parseInt($('#new-set_size').val());
    var tool_id = parseInt($('#new-tool').val());
    var exercise = { name, description, set_size, tool_id };
    $.ajax({
      url: '/exercises',
      data: JSON.stringify(exercise),
      contentType: 'application/json',
      type: 'POST',
      success: function (data, status, xhr) {
        location.reload();
      }
    });
  }

  function deleteE(exercise) {
    // opens loader
    (new ldLoader({ root: ".full" })).on();
    $.ajax({
      url: '/exercises/' + exercise.id,
      type: 'DELETE',
      success: function (data, status, xhr) {
        location.reload();
      }
    });
  }

  function search() {
    var name = $('#search').val();
    return location.href = '/exercises/searchByName/' + name;
  }
</script>