<div class="container">
  <section class="section columns">
    <div class="column">
      <h1 class="title">
        Personeller
      </h1>
      <table class="table is-hoverable">
        <thead>
          <tr>
            <th>T.C</th>
            <th>Ad Soyad</th>
            <th>Doğum Tarihi</th>
            <th>Alan</th>
          </tr>
        </thead>
        <tbody>
          {{#each trainers}}
          <tr class="pointy"  onclick="javascript:openModal({{json}})">
            <td>{{tc}}</td>
            <td>{{name}}</td>
            <td>{{calculateAge}}</td>
            <td>{{field}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>
</div>
<script>
  function openModal(user) {
    console.log(user);
  }
</script>