<div class="container">
  <section class="section columns">
    <div class="column">
      <a
        id="new-user"
        class="button is-outlined is-info"
        data-mfp-src="#new-popup"
        href="javascript:openNewTrainerModal()"
      >
        <span class="icon">
          <i class="fas fa-plus"></i>
        </span>
        <span>Yeni Personel Ekle</span>
      </a>
      <br>
      <br>
      <br>
      <table class="table is-hoverable">
        <thead>
          <tr>
            <th>T.C</th>
            <th>Ad Soyad</th>
            <th>Doğum Tarihi</th>
            <th>Alan</th>
          </tr>
        </thead>
        <tbody>
          {{#each trainers}}
          <tr
            class="pointy"
            onclick="javascript:openModal({{json}})"
          >
            <td>{{tc}}</td>
            <td>{{name}}</td>
            <td>{{calculateAge}}</td>
            <td>{{field}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>
</div>
<div
  id="popup"
  class="popup mfp-hide"
>
</div>
<div
  id="new-popup"
  class="popup mfp-hide"
>
</div>
<script>
  $('#new-user').magnificPopup({ type: 'inline', midClick: true });
  $('.pointy').magnificPopup({ type: 'inline', midClick: true });
  function openModal(user) {
    console.log(user);
  }
  function openNewTrainerModal() {

  }
</script>