<div class="container">
  <section class="section columns">
    <div class="column">
      <a
        id="new-user"
        class="button is-outlined is-info"
        data-mfp-src="#new-popup"
        href="javascript:openNewUserModal()"
      >
        <span class="icon">
          <i class="fas fa-plus"></i>
        </span>
        <span>Yeni Kişi Ekle</span>
      </a>
      <br>
      <br>
      <br>

      <table class="table is-hoverable is-bordered is-fullwidth">
        <thead>
          <tr>
            <th>T.C</th>
            <th>Ad Soyad</th>
            <th>Telefon</th>
            <th>Cinsiyet</th>
            <th>Yaş</th>
            <th>Boy(cm)</th>
            <th>Kilo(kg)</th>
          </tr>
        </thead>
        <tbody>
          {{#each users}}
          <tr
            class="pointy"
            id="{{tc}}"
            onclick="javascript:openModal({{json}})"
            data-mfp-src="#popup"
          >
            <td>{{tc}}</td>
            <td>{{name}}</td>
            <td>{{phone}}</td>
            <td>{{gender}}</td>
            <td>{{calculateAge}}</td>
            <td>{{user_height}}</td>
            <td>{{user_weight}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>
</div>
<div
  id="popup"
  class="popup mfp-hide"
>
  <div class="field">
    <label class="label">TC Kimlik No</label>
    <div class="control">
      <input
        class="input"
        type="text"
        id="tc"
        placeholder="TC Kimlik No"
      />
      </p>
    </div>
  </div>
  <br>
  <div class="field">
    <label class="label">Ad Soyad</label>
    <div class="control">
      <input
        class="input"
        type="text"
        id="name"
        placeholder="Ad Soyad"
      />
    </div>
  </div>
  <br>
  <div class="field">
    <label class="label">Telefon</label>
    <div class="control">
      <input
        class="input"
        type="text"
        id="phone"
        placeholder="Telefon"
      />
    </div>
  </div>
  <br>
  <div class="field">
    <label class="label">Cinsiyet</label>
    <div class="control">
      <input
        class="input"
        type="text"
        id="gender"
        placeholder="Cinsiyet"
      />
    </div>
  </div>
  <div class="field">
    <label class="label">Boy(cm)</label>
    <div class="control">
      <input
        class="input"
        type="text"
        id="user_height"
        placeholder="Boy"
      />
    </div>
  </div>
  <div class="field">
    <label class="label">Kilo(kg)</label>
    <div class="control">
      <input
        class="input"
        type="text"
        id="user_weight"
        placeholder="Kilo"
      />
    </div>
  </div>
  <div class="field">
    <div class="control">
      <a
        class="button is-outlined is-primary"
        href="javascript:saveUser()"
      >
        <span>Kaydet</span>
      </a>
    </div>
  </div>
</div>
<div
  id="new-popup"
  class="popup mfp-hide"
>
  <div class="field">
    <label class="label">TC Kimlik No</label>
    <div class="control">
      <input
        class="input"
        type="text"
        id="new-tc"
        placeholder="TC Kimlik No"
      />
      </p>
    </div>
  </div>
  <br>
  <div class="field">
    <label class="label">Ad Soyad</label>
    <div class="control">
      <input
        class="input"
        type="text"
        id="new-name"
        placeholder="Ad Soyad"
      />
    </div>
  </div>
  <br>
  <div class="field">
    <label class="label">Telefon</label>
    <div class="control">
      <input
        class="input"
        type="text"
        id="new-phone"
        placeholder="Telefon"
      />
    </div>
  </div>
  <br>
  <div class="field">
    <label class="label">Cinsiyet</label>
    <div class="control">
      <input
        class="input"
        type="text"
        id="new-gender"
        placeholder="Cinsiyet"
      />
    </div>
  </div>
  <br>
  <div class="field">
    <label class="label">Boy(cm)</label>
    <div class="control">
      <input
        class="input"
        type="text"
        id="new-user_height"
        placeholder="Boy"
      />
    </div>
  </div>
  <br>
  <div class="field">
    <label class="label">Kilo(kg)</label>
    <div class="control">
      <input
        class="input"
        type="text"
        id="new-user_weight"
        placeholder="Kilo"
      />
    </div>
  </div>
  <div class="field">
    <div class="control">
      <a
        class="button is-outlined is-primary"
        href="javascript:saveNewUser()"
      >
        <span>Kaydet</span>
      </a>
    </div>
  </div>
</div>
<script>
  var currentUser = {};
  $('#new-user').magnificPopup({ type: 'inline', midClick: true });
  $('.pointy').magnificPopup({ type: 'inline', midClick: true });
  function openModal(user) {
    currentUser = user;
    $('#tc').val(user.tc);
    $('#name').val(user.name);
    $('#phone').val(user.phone);
    $('#gender').val(user.gender);
    $('#user_height').val(user.user_height);
    $('#user_weight').val(user.user_weight);
  }

  function openNewUserModal() {
  }

  function saveUser() {
    // opens loader
    (new ldLoader({ root: ".full" })).on();

    var tc = $('#tc').val();
    var name = $('#name').val();
    var phone = $('#phone').val();
    var gender = $('#gender').val();
    var user_height = $('#user_height').val();
    var user_weight = $('#user_weight').val();
    var user = { tc, name, phone, gender, user_height, user_weight };
    console.log(currentUser);
  }
  function saveNewUser() { }
</script>